body {
    background-image: url("../images/lake.jpg");
    z-index: -100;
    font-family: 'Open Sans Condensed', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    background-color: white;
    opacity: .7;
}
.wordBlanksHere {
    text-align: center;   
    font-size: 20px;
  
}


/* .letterDiv {
    font-size: 30px;
}

.lettersGuessedDiv {
    font-size: 25px;
} */

/* .gameDiv {
    text-align: center;
    height: 300px;
    padding: 40px;
} */


.wordBlanksHere {
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
    margin: 3px;
    background-color: lightblue;
}

.buttons {
    margin-top: 20px;
}