body {
    background-image: url("bkg.jpg");
    z-index: -100;
    font-family: 'Open Sans Condensed', sans-serif;
}


.nav {
    font-size: 60px;
    margin-top: 40px;
}

.wordBlanksHere {
    text-align: center;   
    font-size: 40px;
  
}

.letterDiv {
    font-size: 30px;
}

.lettersGuessedDiv {
    font-size: 25px;
}

.gameDiv {
    text-align: center;
    /* height: 300px; */
    padding: 40px;
}


.wordBlanksHere {
    font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
    margin: 3px;
    background-color: lightblue;
}

.buttons {
    margin-top: 20px;
}